.todo-container{
    .add-todo{
        input{
            font-size:16px;
            padding: 5px 10px;
            margin-right: 5px;
            border: none;
            outline: none;
        }
        button{
            padding: 5px 10px;
            font-size: 16px;

        }
    }
    .list-result-todo{
        .result-todo{
            &:first-child{
                margin-top: 10px;
            }
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding-bottom: 10px;
            
            span{
                margin-right: 5px;
            }
            button{
                padding: 5px 10px;
                font-size:16px;
                margin: 5px 8px;
                align-items: center;
            }

        }
    }
}